
.intro * {
  margin: 0;
  padding: 0;
  margin-top: 0%;
  margin-left: 0px;
  z-index:101;
  height: 35%;

}

.intro body {
  background-color:  rgba(200, 250, 250, 0.5);
  font-family: sans-serif;
}

.intro ul {
  position: fixed;
  top :45%;
  left: 70px;
  transform: translate(-50%, -50%);
  display: block;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  transition: 0.4s;

}

.intro ul li {
  margin: 5px;
  margin-left: 5%;
  margin-top: 0px;
}

.intro ul li a .fa {
  font-size: 25px;
  color: salmon;
  line-height: 50px;
  transition: 0.4s;
  position: relative;
  bottom: 40px;
  z-index: 99;
  margin-left: 30%;
  margin-top: 35%;
}


.intro ul li a span {
  padding: 0;
  margin: 0px;
  margin-left: -55%;
  margin-top: 40%;
  position: absolute;
  top: 0px;
  letter-spacing: 4px;
  transition: 0.4s;
  color: salmon;
  font-family: monospace;
  font-weight: bold;
  font-size: 12px;
  z-index: 100;
  transform: rotate(0deg) skewX(-45deg) translate(0,0);
  transition: 0.4s;

}
.intro ul li a {
  text-decoration: none;
  display: block;
  width: 100px;
  height: 40px;
  background: rgb(255,200,155);
  text-align: left;
  padding-left: 5px;
  transform: rotate(-10deg) skewX(25deg) translate(0,0);
  transition: 0.4s;
  box-shadow: -20px 20px 10px rgba(0,0,0,0.5);
  position: relative;
  top:0%;
  transition: 0.4s;


  }

.intro ul li a:before {
  content: '';
  position: absolute;
  top: 10px;
  left: -20px;
  height: 100%;
  width: 20px;
  background: rgb(255,200,155);
  transform: 0.4s;
  transform: rotate(0deg) skewY(-45deg);
}

.intro ul li a:after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: -10px;
  height: 20px;
  width: 100%;
  background: rgb(255,200,155);
  transform: 0.4s;
  transform: rotate(0deg) skewX(-45deg);

}

@media only screen and (max-width: 500px) {


    .title {
      font-size: 10px;
      margin-left: 100px;
    }
    .list {
      margin-left: 150px;
      margin-top: -250px;
    }

    .list ul{
      bottom : 100px;
    }

    .list li{
      padding : 1px;

    }
    .intro ul li a .fa {
      font-size: 25px;
      top: -32.5px;
      right: 0px;
    }

    .intro ul li a:before{
      top: 8px;
      left: -15px;
      width:15px;
      height:30px;
    }

    .intro ul li a span{
      letter-spacing:2px;
      font-size: 10px;
      margin-top: 30px;
      margin-left: -50px;
    }

    .intro ul li a:after {
      bottom: -15px;
      left: -7px;
      height: 15px;
      width: 70px;
    }

    .intro ul li a {
      width: 70px;
      height: 30px;
      left:-15px;

    }

  #animation{
    padding: 00px;
    margin-left: 150px;
    top: -120px;
    z-index: 1001;
  }
  #display{
    margin-top: -250px;
    padding: 0px;
  }
}

.intro ul li a:hover {
  transform: rotate(-10deg) skew(25deg) translate(20px, -5px);
  box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5);
  transition: 0.4s;

}

.intro ul li:hover .fa{
  color:rgb(255,200,155);
}

.intro ul li:hover span {
  color:black;
}

.intro ul li:hover a{
  background: salmon;
}

.intro ul li:hover a:before{
  background: salmon;
}

.intro ul li:hover a:after {
  background: salmon;
}

.intro ul li a:focus {
  transform: rotate(-10deg) skew(25deg) translate(20px, -5px);
  box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5);
  transition: 0.4s;

}

.intro ul li:focus .fa{
  color:salmon;
}

.intro ul li:focus span {
  color:salmon;
}

.intro ul li:focus a{
  background: salmon;
}

.intro ul li:focus a:before{
  background: salmon;
}

.intro ul li:focus a:after {
  background: salmon;
}

#header {
  background: green;
  margin-right: 0px;
  z-index: 100;
}
#display {
  background: white;
  margin-right: 15px;
  top: 00px;
  margin-top: -200px;

}

#animation {
  background: white;
  margin-right: 15px;
  padding: 00px;
  padding-bottom: 0px;
  margin-left: 300px;
  z-index: 1002;

}

.color {
  background: white;
  padding-top: 40px;
  padding-bottom:100px;
}
body {
  margin:0;
}

.header {
  margin-left: 0px;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.centered{
  margin-left: 35%;
}

.diagram{
  height : 200px;
}

.about1 {
  color: salmon;
  padding: 6%;
  border-style: solid;
  margin-top: 50px;
  border-width: 0.5px;

}

.about1 p{
  margin-left: 10px;
}

.about2 {
  margin-top: 50px;
  color: salmon;
  background: white;
  padding: 2%;
  border-style: solid;
  border-width: 0.5px;

}

.about2 p{
  margin-left: 10px;
}

.uri {
  margin-left: 20%;
  color: salmon;
}

.about3{
  margin-top: 20px;
}

.about {
  font-size: 20px;
}

.list  li{
  margin-left: 3%;
  display : inline-block;
  padding: 30px;
  color:  white;
  margin-top:10%;
  font-size: 40px;

}

.icon {
  color: black;
}

.icon:hover {
  color: salmon;
}

.title {
  color: salmon;
  font-size: 30px;
  left: -150px;
}

.list{
  padding-top: 00px;
  margin-right: 200px;

}

#list {
  margin-top: 250px;
}

.Bot {
  margin-top: 300px;
}
